button {
  border-radius: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button-base {
  padding: 20px 32px;
  border-radius: 3px;
  background-color: var(--grey);
  color: var(--black);
  font-size: var(--txt-base);
  text-align: center;
  line-height: 1;
  font-weight: 700;
  transition: all 0.2s ease-out;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
    transform: scale(1.05);
  }
}

.primary-dark {
  background-color: var(--black);
  color: #ffffff;
}
.primary-light {
  background-color: #ffffff;
  color: var(--purple);
}
