<section id="why-us" class="d-flex flex-column">
  <div class="content-wrapper">
    <div
      class="text-content--container d-flex flex-column justify-center align-items-center"
    >
      <h2>Why choose us?</h2>
      <p>
        There are a few good reasons why people trust <br />
        use to design & manage their websites.
      </p>
    </div>
    <div class="our-work-content__wrapper">
      <div class="our-work__content">
        <app-block-grid-item [imgSrc]="" [textContent]=""></app-block-grid-item>
        <app-block-grid-item [imgSrc]="" [textContent]=""></app-block-grid-item>
        <app-block-grid-item [imgSrc]="" [textContent]=""></app-block-grid-item>
        <app-block-grid-item [imgSrc]="" [textContent]=""></app-block-grid-item>
        <app-block-grid-item [imgSrc]="" [textContent]=""></app-block-grid-item>
      </div>
    </div>
  </div>
</section>
