.top-navigation {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.nav-item-container {
  gap: 50px;
  padding: 36px 70px;
}

.nav-item {
  a {
    font-weight: 700;
    font-size: var(--txt-base);
  }
}
.nav-logo {
  img {
    width: 42px;
    height: auto;
  }
}
